.intro {
	//   background: var(--color-theme-highlight-block);
	background: url("https://foundation.uc.edu/image/_2019-redesign/homepage-hero-images/hero-2048x1000-student-7.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	.trianglePattern {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		right: -30%;
		width: 80%;
	}

	&__summary {
		--flow-space: #{get-size(500)};
		font-size: get-size(500);

		a {
			color: currentColor;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__heading {
		max-width: 40ex;
		color: var(--color-theme-feature-text);

		&--compact {
			max-width: 20ex;
		}
	}
}

.btn-container {
	position: relative;
	text-align: center;

	&:after {
		position: absolute;
		content: "";
		background-color: #ce0e2d;
		opacity: .5;
		right: 0;
		top: 0;
		bottom: 0;
		left: 25%;
		margin: 0;
		z-index: 0;
		width: 150%;
		-webkit-transform: skew(-30deg);
		transform: skew(-30deg);
		-webkit-animation: animateLeft 1s ease-in;
		-webkit-animation-fill-mode: forwards;
	}

	a {
		position: relative;
		z-index: 1;

		&.button {
			&.button-primary {
				background-color: #e00122;
				margin-right: 1em;
			}

			&.button-secondary {
				background-color: #404040;
			}
		}
	}
}

@-webkit-keyframes animateLeft {
	0% {
		left: 150%;
	}

	100% {
		left: 25%;
	}
}

@-webkit-keyframes animateOpacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media screen and (prefers-reduced-motion: reduce) {

	section.hero .btn-container:after,
	section.hero a {
		animation: none;
	}
}