.intro {
	//   background: var(--color-theme-highlight-block);
	background: url("https://foundation.uc.edu/image/_2019-redesign/homepage-hero-images/hero-2048x1000-student-7.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	.trianglePattern {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		right: -30%;
		width: 80%;
	}

	&__summary {
		--flow-space: #{get-size(500)};
		font-size: get-size(500);

		a {
			color: currentColor;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__heading {
		max-width: 40ex;
		color: var(--color-theme-feature-text);

		&--compact {
			max-width: 20ex;
		}
	}
}