header {
	// padding: 0;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: 9999;
	@include transition(all 0.4s ease-in-out);

	&.reduced {
		padding: .1em 0 !important;
		-webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .5);
		box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .5);
	}

	.wrapper {}
}

.nav {
	margin-right: 23px;

	&__list {
		// overflow-x: auto;

		// Add padding and neg margin to allow focus style visibility
		padding: 0.5rem 0;
		margin: -0.5rem;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}

		// >*+* {
		// 	margin-left: get-size(500);
		// }
	}

	&__item {
		// padding: get-size(300) 0;
		flex-shrink: 0;

		-webkit-transform: skew(-30deg);
		transform: skew(-30deg);

		a {
			color: currentColor;

			padding: get-size(300) 10px;
			border-left: 2px solid #e00122;
			display: block;

			@include apply-utility('weight', 'mid');

			&:not(:hover) {
				text-decoration: none;
			}

			span {
				-webkit-transform: skew(30deg);
				transform: skew(30deg);
				display: inline-block;
				text-transform: uppercase;
			}
		}

		&:last-child {
			a {
				background-color: #e00122;

				span {
					color: #fff;
				}
			}
		}
	}
}