{% extends 'layouts/page.njk' %}

{# Page title content #}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/page-title.njk" %}
  </main>
{% endblock %}