/**
 * DARK MODE MIXIN
 * 
 * A little wrapper that lets you define your dark mode custom 
 * properties in a way that supports the theme toggle web component
 */
@mixin dark-mode() {
	@media (prefers-color-scheme: dark) {
		:root {
			--color-mode: 'dark';
		}

		:root:not([data-user-color-scheme]) {
			@content;
		}
	}

	[data-user-color-scheme='dark'] {
		@content;
	}
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// @include transition(all 0.4s ease-in-out);