<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ] [ pad-top-300 pad-bottom-300 ">
  <div class="wrapper">
    <div class="[ site-head__inner ] [ md:box-flex space-between align-center ]">
      <a href="/" class="[ site-head__site-name ] [ leading-tight ]">
	    <img src="https://foundation.uc.edu/image/_2019-redesign/UCF_Logo_BlackRed.png" alt="University of Cincinnati Foundation logo">
        <span class="visually-hidden">{{ site.name }} - Home</span>
        <span class="[ site-head__site-name ] [ text-600 ] hide" aria-hidden="true">{{ site.name }}</span>
      </a>
      {% set ariaLabel = 'navigation' %}
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</header>
